body {
    margin: 0;
    padding: 0;
    /* Aligned Items to be centered on page and adjust with screen/browser size */
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #1F2937;
}

#font1 {
    color: #E5E7EB;
}

#font2 {
    color: #10B981;
}

.fontBlock {
    display: block;
    padding: 10px;
    margin: 10px;
}
#font3 {
    color: #6B7280;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #E1E1E1;
    width: min(90vw, 400px);
    margin: 10px auto;
}

#btnClick {
    display: block;
    padding: 10px;
    margin: 10px auto;
    color: #F9FAFB;
    border-radius: 25px;
    border: #379F62FF solid 1px;
    background: #379F62FF;
}
#btnClick:active {
    background: #059669;
    border: #10B981 solid 1px;
}

.randomPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

#pass1, #pass2 {
    border-radius: 10px;
    width: 175px;
    min-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    background: #273549;
    color: #55F991;
    padding: 10px;
    margin: 10px;
}
