body {
    margin: 0;
    padding: 0;
    background: #1F2937;
}

#font1 {
    color: #E5E7EB;
}

#font2 {
    color: #10B981;
}

.fontBlock {
    display: block;
    padding: 10px;
    margin: 10px;
}
#font3 {
    color: #6B7280;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #E1E1E1;
    margin: 10px 10px 10px 10px;
}

#btnClick {
    display: block;
    padding: 10px;
    margin: 10px;
    color: #F9FAFB;
    border-radius: 25px;
    border: #379F62FF solid 1px;
    background: #379F62FF;
}
#btnClick:active {
    background: #059669;
    border: #10B981 solid 1px;
}

.randomPassword {
    display: flex;
}

#pass1, #pass2 {
    justify-content: center;
    border-radius: 10px;
    width: 175px;
    height: 16px;
    display: flex;
    flex-direction: row;
    background: #273549;
    color: #55F991;
    padding: 10px;
    margin: 10px;
}